main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.main-info{
    width: 100%;
    max-width: 570px;
}

.main-info p{
    font-size: 18px;
    margin: 20px 0 28px;
}

.main-info div{
    display: flex;
    column-gap: 32px;
}

.main-info div a, .main-info div button{
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transform: skew(-10deg);
}

.main-info div a{
    background: var(--red);
}

.main-info div button{
    background: transparent;
    border: solid 1px var(--green);
}

@media (max-width: 768px){
    .main-info{
        max-width: 600px;
        top: 500px;
        padding: 32px;
    }

    main img{
        width: 30%;
    }
}

@media (max-width: 414px){
    main{
        flex-direction: column;
    }

    .main-info p{
        font-size: 16px;
        padding: 16px;
    }

    .main-info div a{
        width: 50%;
    }

    .main-info div button{
        width: 50%;
    }

    .main-info div{
        margin: 16px;
    }

    main .mario{
        display: none;
    }
}